{% extends 'base.html.twig' %}

{% block title %}{{ 'category.new'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'category.new'|trans }}</h1>

    {{ include('category/_form.html.twig', {'button_label': 'action.save'|trans}) }}

    <br>

    <a class="btn btn-secondary" role="button" href="{{ path('app_category_index') }}">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
