{% extends 'base.html.twig' %}

{% block title %}{{ 'category.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'category.title'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>{{ 'label.created_at'|trans }}</th>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'label.updated_at'|trans }}</th>
                <td>{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'label.category'|trans }}</th>
                <td>{{ category.title }}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a class="btn btn-secondary" role="button" href="{{ url('app_category_index') }}" title="{{ 'action.back_to_list'|trans }}">
            {{ 'action.back_to_list'|trans }}
        </a>
    </p>

    <a class="btn btn-primary" role="button"href="{{ url('app_category_edit', {id: category.id}) }}" title="{{ 'action.edit'|trans }}">
        {{ 'action.edit'|trans }} </a>

    <br>
    <br>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
