{% extends 'base.html.twig' %}

{% block title %}{{ 'task.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'task.edit'|trans }}</h1>

    {{ include('task/_form.html.twig', {'button_label': 'action.update'|trans}) }}
    <br>
    <a class="btn btn-secondary" role="button" href="{{ path('app_task_index') }}">{{ 'action.back_to_list'|trans }}</a>
    <br><br>
    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
