{% extends 'base.html.twig' %}

{% block title %}{{ 'task.new'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'task.new'|trans }}</h1>

    {{ include('task/_form.html.twig', {'button_label': 'action.save'|trans}) }}
    <br>
    <a class="btn btn-secondary" role="button" href="{{ path('app_task_index') }}">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
