{% extends 'base.html.twig' %}

{% block title %}{{ 'title.note_list'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.note_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'note.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'note.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'note.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'note.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'note.updatedAt') }}</th>
                <th>{{ 'label.category'|trans }}</th>
                <th>{{ 'label.tags'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for note in pagination.items %}
                <tr>
                    <td>{{ note.id }}</td>
                    <td>{{ note.title }}</td>
                    <td>{{ note.content }}</td>
                    <td>{{ note.createdAt|format_date('long') }}</td>
                    <td>{{ note.updatedAt|format_date('long') }}</td>
                    <td>{{ note.category.title }}</td>
                    <td>{{ note.tags|join(', ') }}</td>
                    <td>
                        <a href="{{ url('app_note_show', {id: note.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                        <a href="{{ url('app_note_edit', {id: note.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

    <a class="btn btn-primary" role="button" href="{{ path('app_note_new') }}">{{ 'action.create'|trans }}</a><br><br>
{% endblock %}
