{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_delete'|trans({'name': tag.name|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_delete'|trans({'name': tag.name|default('')}) }}</h1>

    {% for message in app.flashes('error') %}
        <div class="flash-error">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" name="submit" value="{{ 'action.delete'|trans }}" class="btn btn-primary" />
    </div> <br>
    <div class="form-group row float-sm-left">
        <a class="btn btn-secondary" role="button" href="{{ url('app_task_index') }}">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}