{% extends 'base.html.twig' %}

{% block title %}{{ 'tag.new'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'tag.new'|trans }}</h1>

    {{ include('tag/_form.html.twig', {'button_label': t('action.save')}) }}
    <br>
    <a class="btn btn-secondary" role="button" href="{{ path('app_tag_index') }}">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
