{% extends 'base.html.twig' %}

{% block title %}
    Hello
{% endblock %}

{% block body %}
    <p>
	<br><a class="btn btn-outline-primary" role="button" href="{{ path('app_note_index') }}">{{ 'home.view_notes'|trans }}</a><br>
	<br><a class="btn btn-outline-primary" role="button" href="{{ path('app_task_index') }}">{{ 'home.view_tasks'|trans }}</a><br>
    <br><a class="btn btn-outline-primary" role="button" href="{{ path('app_tag_index') }}">{{ 'home.view_tags'|trans }}</a><br>
    <br><a class="btn btn-outline-primary" role="button" href="{{ path('app_category_index') }}">{{ 'home.view_categories'|trans }}</a>
    </p>
{% endblock %}